* {
	font-family: 'Inknut Antiqua', serif;
	}
#characterSelectPanel {
	border: inset;
	border-color: steelblue;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 40px;
	background-color: rgba(183, 249, 255, 0.5);
}
#playerLocation {
	padding-left: 250px;
}
.charBtn {
	margin-left: 60px;
}
header {
	margin-top: 15px;
	margin-bottom: 15px;
}
.btn-danger, .btn-primary {
	margin-left: 45px;
	margin-top: 10px;
}